<html>
  <body>
    <p>
    Estimado <%= @user -%>,<br>
    <p>Hemos recibido su solicitud de contacto correctamente.
    Le responderemos lo más rápidamente posible.
</p>
<p>Gracias por confiar en My Golf Card.</p>
