<style>
  .ayuda-li {
    font-size: 14px;
    text-align: left;
  }

  .ayuda-li-head {
    text-align: left;
    font-size: 16px;
    cursor: pointer;
  }

  .ayuda-li-body {
   font-size: 14px;
   margin-left: 10px;
  }

</style>

<script>
  $(function () {
    $("#pto_1").click(function() {$("#pto_1_view").toggle();});
    $("#pto_2").click(function() {$("#pto_2_view").toggle();});
    $("#pto_3").click(function() {$("#pto_3_view").toggle();});
    $("#pto_4").click(function() {$("#pto_4_view").toggle();});
  });
</script>

<h1>Ayuda con <strong>My Golf Card</strong></h1>
<!--<h3>Contacte con nosotros para obtener m&aacute;s ayuda.</h3>-->
<%= flash[:envio] %>

<ol>
  <p  class="ayuda-li">
    En esta ayuda se explica cuál sería el proceso lógico de utilización de <strong>My Golf Card</strong> en 5 pasos.
    <br>El primero ("b&uacute;squeda de amigos") ser&iacute;a opcional aunque recomendable.
    Lea los dem&aacute;s en orden para saber la secuencia de accciones que debe seguir para dar de alta la información y obtener el m&aacute;ximo rendimiento de <strong>My Golf Card</strong>.
  </p>

  <li>
    <div class="ayuda-li">
      <div class="ayuda-li-head" id="pto_1">
        ¿Qui&eacute;re compartir su informaci&oacute;n con compañeros de partido?
      </div>
      <div class="ayuda-li-body" style="display:none;" id="pto_1_view">
        <p>
        Si desea utilizar <strong>My Golf Card</strong> como punto de reunión con sus compañeros y compartir con ellos sus partidos, al mismo tiempo que registra las tarjetas de todo el grupo, el primer paso que debe dar es buscar a sus compañeros y añadirlos a su lista personal de <i>amigos</i>.<br>
        </p>
        <p>
        Para ello es imprescindible que sus compañeros sean usuarios registrados de <strong>My Golf Card</strong>, es decir, deben tener asignado un usuario y una password en <strong>My Golf Card</strong>.
        Si no lo están, primero deberá pedirles que se registren o registrales Vd. con su permiso.
        </p>
        <p>
        La búsqueda de compañeros se realiza desde la opción de <i>Datos Personales</i> haciendo click sobre el botón "Amigos".
        </p>
        <p>
          <ol>
            <li>Busque a su compañero por su nombre, selecci&oacute;ne el correcto y a&ntilde;&aacute;dalo.</li>
            <li>Inmediatamente, Vd. pasa a ser amigo del usuario que ha añadido. Es decir, ese usuario puede utilizarle a Vd. en sus partidos.</li>
            <li>Al mismo tiempo, Vd. queda pendiente de que su nuevo <i>amigo</i> le permita utilizarle en sus partidos.</li>
            <li>De forma totalmente an&aacute;loga, pero desde el punto de vista contrario: si alg&uacute;n compañero suyo desea tenerle como amigo, Vd. verá una solicitud de amistad pendiente de confirmar, al mismo tiempo que podrá utilizarle automáticamente en sus partidos.
          </ol>
        </p>
      </div>
      <p></p>
    </div>
  </li>
  <li>
    <div class="ayuda-li">
      <div class="ayuda-li-head" id="pto_2">
        Registre sus partidos.
      </div>
      <div class="ayuda-li-body" style="display:none;" id="pto_2_view">
        <p>
        Para registrar sus partidos, ya sea de forma individual o con sus compañeros, debe seleccionar en el menú superior la opción "Partidos".
        Una vez alli, podr&aacute; ver todos sus partidos registrados o registrar un partido "Nuevo" por medio del botón correspondiente.
        </p>
        <p>
          Tambi&eacute;n podrá acceder directamente a crear un partido nuevo desde los "Accesos Directos" de la p&aacute;gina principal.
        </p>
        <p>
          Introduzca el campo, la fecha y hora de su partido y los jugadores que han participado en ese partido. Como hemos comentado en el punto anterior, si tiene <i>amigos</i> registrados, podr&aacute; utilizarlos en este momento.
        </p>
      </div>
      <p></p>
    </div>
  </li>
  <li>
    <div class="ayuda-li">
      <div class="ayuda-li-head" id="pto_3">
        Y con el partido registrado, ahora vamos con la tarjeta de golpes.
      </div>
      <div class="ayuda-li-body" style="display:none;" id="pto_3_view">
        <p>Una vez que tenemos un partido registrado, podemos introducir los golpes que hemos hecho en cada uno de los hoyos.</p>
        <p>Pulse en la opci&oacute;n de "Ver Partido" y cada jugador tendrá asociada su propia tarjeta de golpes. Pulsando en cada una de ellos "Nueva Tarjeta", podremos introducir los golpes para cada hoyo.<br>Autom&aacute;ticamente se calcularan los subtotales por parte y el total de golpes del partido.</p>
        <p>Con esta informaci&oacute;n ya puede sacar el m&aacute;ximo rendimiento a <strong>My Golf Card</strong> ya que ser&aacute; capaz de realizar gráficos y calcular estadísticas sobre su juego habitual.
        <p>Adem&aacute;s con su informaci&oacute;n contribuye tambi&eacute;n a mejorar las estad&iacute;sticas globales de <strong>My Golf Card</strong>.
      </div>
      <p></p>
    </div>
  </li>
  <li>
    <div class="ayuda-li">
      <div class="ayuda-li-head" id="pto_4">
        ¿De qu&eacute; sirve toda la información que hemos introducido? ¿Qu&eacute; podemos saber de nuestro juego?
      </div>
      <div class="ayuda-li-body" style="display:none;" id="pto_4_view">
        <p>La opci&oacute;n de "Estad&iacute;sticas" le permitirá analizar su juego mediante el conjunto de estad&iacute;sticas y gr&aacute;ficas obtenidas a partir de los datos de sus partidos y tarjetas.</p>
        <p>Cuanta m&aacute;s informaci&oacute;n introduzca en <strong>My Golf Card</strong>, m&aacute;s representativa será la información anal&iacute;tica que obtenga.</p>
      </div>
      <p></p>
    </div>
  </li>
  <li>
    <div class="ayuda-li">
      <div class="ayuda-li-head" id="pto_5">
        Para cualquier duda o sugerencia, <a id="dialog1" href="javascript:;" onclick='$("#ayuda-pto-5").dialog();' >contacte</a> con nosotros y le responderemos lo más r&aacute;pidamente posible.
      </div>
      <p></p>
    </div>
  </li>
  <hr>
  <p  class="ayuda-li">
    Por &uacute;ltimo unas consideraciones generales para <i>moverse</i> por <strong><strong>My Golf Card</strong></strong> sin problemas:<br>
    <br>* Pruebe a pasar el rat&oacute;n por encima de los elementos: todos aquellos que tengan alguna acci&oacute;n asociada cambiaran el cursor <i>normal</i> por una <i>mano</i> y podrá hacer <i>click</i> sobre ellos.
    <br>* Siempre podrá pulsar en el logo de <strong><strong>My Golf Card</strong></strong> para volver a la p&aacute;gina inicial de resumen.
    <br>* La mencionada p&aacute;gina inicial, <i>HOME</i>, presenta un resumen de su actividad dentro de <strong><strong>My Golf Card</strong></strong> para que de un vistazo vea su situación general. Después ya podrá pasar por encima de cada opci&oacute;n y hacer <i>click</i> para acceder a las funcionalidades m&aacute;s concretas.
    <br>* Por todo <strong>My Golf Card</strong> encontrar&aacute; botones para realizar diferentes acciones, algunos con un texto expl&iacute;cativo dentro de los mismos, y otros sin &eacute;l. En cualquier caso, colocando el cursor encima de ellos, se mostrará un pequeño texto que le indicar&aacute; la acci&oacute;n que realiza ese botón. Tambi&eacute;n observe que se utilizan los mismos iconos para las mismas acciones, de esta forma, al poco tiempo de usarlo ya sabr&aacute; que acci&oacute;n llevan asociadas sin dudarlo.
    <br>* Hay algunos campos de texto que esperan que introduzca algunos caracteres para ofrecerle los valores que se ajusten a ellos.
    <br>* El objetivo principal de <strong>My Golf Card</strong> es que Vd. se sienta a gusto y utilice cuanto más mejor esta web, por lo que para cualquier duda o sugerencia, <a id="dialog1" href="javascript:;" onclick='$("#ayuda-pto-5").dialog();' >contacte</a> con nosotros y le responderemos lo más r&aacute;pidamente posible.
  </p>

</ol>

<div class="demo">

  <div id="ayuda-pto-5" style="display:none" title="<strong>My Golf Card</strong> - Más información">
    <%= render :partial => 'layouts/contact' %>
  </div>

</div>
