<div class="login_box" >
  <% form_tag session_path do -%>
    <div class="row">
      <label for="login" class="c_label">Login</label>
      <%= text_field_tag 'login' %>
    </div>

    <div class="row">
      <label for="password" class="c_label">Password</label>
      <%= password_field_tag 'password' %>
    </div>
    <div class="row">
      <label class="c_label">&nbsp;</label>
<%= submit_tag 'Entrar', 'class' => 'submit'  %>&nbsp;<a href="#" onClick="alert('Acción no implementada actualmente.\n')">¿Recuperar contrase&ntilde;a?</a>
    </div>
  <% end -%>
</div>