/* 
    Document   : golf_main
    Created on : 25-dic-2009, 17:47:22
    Author     : eladioruiz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*
How to Use CSS to Position Horizontal Unordered Lists

By Stu Nicholls.
Introduction

Let's say that you've chosen to use a horizontal styled unordered list for your navigation and have followed the generally accepted CSS methods put forward by the many CSS information sites on the web. All's well until you decide that you don't want your menu to be left aligned. You want to be able to position it centrally or to the right and this is where it starts to get tricky.

Fortunately, there's a way to style your horizontal unordered list so that it can be easily positioned where you want it.
Method
The accepted 'normal' method of styling

In this tutorial I'll use the following unordered list throughout.
The (X)HTML

<ul id="menu">
<li><a href="#nogo">Item one</a></li>
<li><a href="#nogo">Item two</a></li>
<li><a href="#nogo">Item three</a></li>
<li><a href="#nogo">Item four</a></li>
<li><a href="#nogo">Item five</a></li>
</ul>

..which looks like this before styling.

    * Item one
    * Item two
    * Item three
    * Item four
    * Item five

The normally accepted method of styling this list is as follows.
The CSS
*/

#menu_header
{
    padding:0;
    margin:0;
    color:#fff;
    font-family: arial, helvetica, sans-serif;
    white-space:nowrap;
    list-style-type:none;
}
#menu_header li {display:inline;}
#menu_header li a
{
    padding:0.2em 1em;
    background:#fc6;
    color:#000;
    text-decoration:none;
    float:left;
    border:1px solid #000;
}
#menu_header li a:hover
{
    background:#08c;
    color:#fff;
}

root {
    display: block;
}

.text_label
{
    border: 0px;
    background-color: #fff;
    color: #333333;
}


body {
	padding: 0px;
	margin: 0px;
	background: #2e3436;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

h1, h2, p {
	margin: 5px 0px;
}

h1, h2 {
	letter-spacing: -1px;
}

h1 {
	color: #ccc;
	font-size: 2em;
}

h2 {
	color: #666;
	font-size: 1.5em;
	font-weight: normal;
}

h2.ok {
	background: #D8EEC4;
	color: #377722;
	font-size: 1.6em;
	font-weight: normal;
	padding: 5px;
	text-align: center;
}

h2.error {
	background: #EFC2C2;
	color: #792C20;
	font-size: 1.6em;
	font-weight: normal;
	padding: 5px;
	text-align: center;
}


#cuerpo h1 {
	color: #444;
}


a {
	color: #444;
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:hover {
	background: #444;
	color: white;
	text-decoration: none;
	border-bottom: 1px solid #444;
}


h1 strong {
	color: black;
}

input, select, button {
	font-size: 1em;
}

span.aviso {
	background: #EFC2C2;
	color: #792C20;
	padding: 3px 6px;
}

span.error {
	background: #D82F2A;
	color: #E6E041;
	padding: 3px 6px;
}


/* --- Contenedor ---------------------------------------------------------- */

.contenedor_sup {
	padding: 0px 20px;
	background: #666;
	color: white;
}

.contenedor_inf {
	padding: 20px;
}

.contenedor_sup h1 {
	margin: 0px;
	padding: 10px 0px;
}


/* --- Cabecera ------------------------------------------------------------ */

#header {
	height: 130px;
	background: url(../images/header2.gif) repeat-x bottom;
}

#header img {
	border: 0px;
}

#header a, #header a:hover {
	border: none;
	background: none;
}


#header img.logo {
	display: block;
	float: left;
	padding-top: 5px;
}

#header h1 {
	margin: 0px;
	text-align: right;
	color: white;
	font-weight: bold;
	padding: 10px 0px;
	letter-spacing: -1px;
	float: right;
}

#header h2 {
	margin: 0px;
	color: #010066;
	font-size: 2.2em;
	font-weight: bold;
	padding: 15px 0px;
}

#header em {
	color: #ccc;
	font-style: normal;
	font-weight: normal;
}


/* --- Navegación ---------------------------------------------------------- */
#header_nav {
	background: url(../images/fondo_nav.gif) repeat-x bottom;
}

#nav {
	padding: 3px;
	margin: 0px;
}

#nav ul {
	margin: 0px;
	padding: 0px;
}

#nav ul.subnav {
	float: right;
}

#nav li {
	display: inline;
	padding: 5px 10px;
	margin: 0px;
}

#nav li.sel {
	background: #666 url(../images/fondo_nav_sel.gif) repeat-x bottom;
	padding: 5px 10px 7px 10px;
}

#nav li.sep {
	margin-left: 20px;
	border-left: 1px dotted #666;
	padding-left: 20px;
}

#nav a {
	text-decoration: none;
	line-height: 22px;
	border-bottom: none;
	color: white;
}

#nav a:hover {
	text-decoration: none;
	background: transparent;
	color: #ccc;
	border-bottom: solid 1px #ccc;
}

.paginacion {
	padding: 5px 0px 10px 15px;
}

.paginacion p {
	margin-bottom: 0px;
}

.paginacion .filtro_referido {
	background: #EAE1E1;
	padding: 3px;
}

.paginacion .filtro_referido p {
	margin: 0px;
}

.paginacion .filtro_referido strong {
	color: #FF0000;
}

.paginacion_bottom {
    width: 100%;
    float: left;
	margin-top: 30px;
	margin-bottom: 10px;
	border-top: 2px solid #ccc;
	padding-top: 10px;
}

.paginacion_bottom .paginas {
	float: right;
}


.contenedor_sup .hsep {
	margin: 10px 0px 0px;
	border-top: 2px solid #666;
	padding: 10px 0px;
}


/* --- Pestañas para los tipos de formularios ------------------------------ */

#tipos {
}

#tipos ul {
	margin: 0px;
	padding: 0px;
	height: 30px;
	list-style-type: none;
}

#tipos li {
	float: left;
	padding: 0px;
	margin: 0px 20px 0px 0px;
	height: 30px;
}

#tipos a {
	display: block;
	line-height: 30px;
	color: white;
	text-decoration: none;
	background: #666;
	border: 0px;
	padding: 0px 20px;
	font-size: 1.3em;
}

#tipos li.selected a {
	background: white;
	color: #444;
	font-weight: bold;
}

#tipos a:hover {
	text-decoration: none;
	background: #888;
}

#tipos li.selected a:hover {
	text-decoration: none;
	background: #ddd;
}


/* --- Buscador ------------------------------------------------------------ */

#buscador {
	float: right;
	border-left: 1px dotted #666;
	padding-left: 20px;
}

#buscador p {
	margin: 1px;
}

/* --- Buscador avanzado --------------------------------------------------- */

#busqavanzada {
	float: right;
}


/* --- Información sobre la búsqueda --------------------------------------- */

.hilite {
	background: #FFFF99;
}

.info {
	background: #eee;
	padding: 10px;
	margin: 0px 0px 20px 0px;
}



/* --- Cuerpo -------------------------------------------------------------- */

#cuerpo {
	margin: 2px 0px 0px;
/*	border-top: 2px solid #666; */
}

#cuerpo table.resultados {
	border-collapse: collapse;
	width: 100%;
}


#cuerpo table.resultados td {
	vertical-align: top;
	padding: 0px 10px 0px 0px;
}

#cuerpo table.resultados td.footer {
	text-align: right;
	color: #999;
	font-style: italic;
	padding-top: 10px;
}


#cuerpo table.resultados h2 {
	border-bottom: 1px solid #ccc;
}



#cuerpo table.entradas {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

#cuerpo table.entradas th {
	text-align: left;
	color: #333;
	padding: 10px 0px 0px;
	font-size: 1.3em;
	font-weight: normal;
	padding: 2px 4px;
}

#cuerpo table.entradas tr.contactado {
/*	background: #dce7ee; */
	background: #e6efdc;
}

#cuerpo table.entradas td {
	border-top: 1px solid #f0f0f0;
	padding: 2px 4px;
	vertical-align: top;
}

#cuerpo table.entradas address {
	color: #999;
}

#cuerpo table.entradas input {
	margin: 0px 10px;
}

#cuerpo table.entradas address input {
	vertical-align: text-bottom;
}


#cuerpo table.entradas td.id {
	font-weight: bold;
}

#cuerpo table.entradas td.fecha {
	white-space: nowrap;
}

#cuerpo table.entradas td.telefono {
	color: #000;
	font-size: 1.2em;
	white-space: nowrap;
}

#cuerpo table.entradas td.puntuacion {
	color: #000;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

#cuerpo table.entradas td.regla {
	color: #000;
	font-family: "Courier New", Courier, monospace;
}

#cuerpo table.entradas td.comentarios {
	color: #888;
}

#cuerpo table.entradas td.atendido {
	white-space: nowrap;
}


#cuerpo table.detalle {
	margin: 30px 0px;
	border-collapse: collapse;
	width: 100%;
}

#cuerpo table.detalle strong {
	color: #244774;
}

#cuerpo table.detalle tr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#cuerpo table.detalle th {
	text-align: right;
	padding: 5px;
	width: 20%;
	font-size: 1.2em;
	vertical-align: top;
}

#cuerpo table.detalle td {
	padding: 5px;
	width: 80%;
	font-size: 1.2em;
	vertical-align: top;
}


#cuerpo table.config {
	border-collapse: collapse;
	width: 90%;
	margin: 20px 0px;
}

#cuerpo table.config th {
	text-align: left;
	color: #666;
	padding: 10px 0px 0px;
	padding: 2px 4px;
	font-size: 1.4em;
}

#cuerpo table.config td {
	border-top: 1px solid #f0f0f0;
	padding: 2px 4px;
	vertical-align: top;
	font-size: 1.1em;
}

#cuerpo table.config td.nombre input {
	width: 200px;
}

#cuerpo table.config td.director input {
	width: 200px;
}

#cuerpo table.config td.diremail input {
	width: 200px;
}

#cuerpo table.config td.check {
	text-align: center;
}


.nohay {
	letter-spacing: 0px;
	font-size: 2em;
}

#cuerpo .opciones {
	margin-top: 10px;
	border-top: 2px solid #ccc;
	padding-top: 10px;
}

#notas_peticion textarea {
	font-family: Calibri, Tahoma, Arial, sans-serif;
	width: 800px;
	height: 300px;
}

#notas_peticion .notas_inputs {
	width: 800px;
}

#notas_peticion #notas_grabar {
	float: right;
}

#notas_peticion h2 {
	color: #666;
	font-size: 1.8em;
	margin: 10px 0px 20px;
	letter-spacing: -0.03em;
}

#cuerpo input.marca {
/*	float: right; */
	font-size: 8px;
}

#cuerpo input#marca_ex {
	margin: 0px;
	color: red;
}

#cuerpo input#marca_ex.sel {
	background: red;
	color: white;
}


#cuerpo input#marca_co {
	margin: 0px;
	font-weight: bold;
	color: blue;
}

#cuerpo #marca_co.sel {
	background: blue;
	color: white;
}


#cuerpo input#marca_pa {
	margin: 0px;
	color: green;
}

#cuerpo #marca_pa.sel {
	background: green;
	color: white;
}


#cuerpo input#marca_ni {
	margin: 0px 10px 0px 0px;
	font-weight: bold;
	color: orange;
}

#cuerpo #marca_ni.sel {
	background: orange;
	color: white;
}


#cuerpo input#marca_normal {
}

#cuerpo input#marca_error {
}


p.datos_peticion {
	font-size: 1.2em;
}

p.comentarios {
	font-size: 1.2em;
	background: #eee;
	padding: 3px;
	margin: 20px 0px;
}

.thumb_foto {
	float: right;
	padding: 10px;
	background: #eee;
}

.thumb_foto a {
	border: 0px;
}

.thumb_foto a:hover {
	border: 0px;
}


#admin_footer {
	margin-bottom: 30px;
}

#admin_footer .sep {
	display: inline;
	margin-left: 30px;
	padding-left: 30px;
}

#admin_footer .sep form {
	display: inline;
}

/* --- Pie de pagina --------------------------------------------- */

#pie {
	background: #F0F0F0;
	color: #666;
	padding: 5px 10px;
	margin-top: 20px;
	clear: both;
}

#pie p {
	margin: 0px;
}

/* --- Configuraci�n de Adwords -------------------------------------------- */

#cont_selemail {
	width: 280px;
}


/* --- Resumen de estad�sticas --------------------------------------------- */

#statsresumen h1 {
	margin: 0px 20px 0px 0px;
	font-size: 2.3em;
	font-weight: normal;
	color: #333;
	float: left;
}

#statsresumen h2 {
	margin: 0px;
	padding-top: 7px;
	color: #ccc;
}

#statsresumen p.aviso {
	background: #EFC2C2;
	color: #792C20;
	padding: 3px 6px;
}


table#statstable {
	background: #eee;
	width: 1000px;
	clear: both;
	margin: 20px 0px 20px 0px;
}

table#statstable td {
	width: 33%;
	padding: 10px;
}

table#statstable td p {
	margin: 0px;
	color: #666;
}

table#statstable td p strong {
	color: black;
}

table#statstable td span {
	font-size: 3em;
	font-weight: bold;
	float: left;
	display: block;
	background: #ccc;
	padding: 3px 10px;
	margin-right: 10px;
}


/* --- Gr�ficas ------------------------------------------------------------ */

.grafcolumn {
	width: 500px;
	float: left;
}

.grafpanel {
	padding-bottom: 50px;
}


.grafpanel .nav {
	float: right;
}

#graf-peticiones {
	width: 650px;
	margin-right: 50px;
}

#graf-keywords {
	width: 300px;
}

#grafica1,
#grafica2 {
	height: 270px;
}

.canvas {
/*	width: 470px; */
}

.canvas h1 {
	margin: 0px;
}

.canvas h2 {
	font-size: 1.1em;
	margin: 0px 0px 10px 0px;
}


.graphnav {
	padding: 0px 0px 0px 40px;
	height: 1.8em;
}

.graphnav a {
	border: 0px;
	line-height: 1.8em;
	padding: 0px 7px;
	margin: 0px 5px 0px 0px;
	background: #ddd;
	float: left;
	color: #444;
	-moz-border-radius: 5px;
}

.graphnav a:hover {
	background: #444;
	color: white;
}

.graphnav a.sel {
	background: black;
	color: white;
}

.graphnav .loader {
	display: none;
}



table.tbldata {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

table.tbldata th {
	text-align: right;
	color: #333;
	font-size: 1.2em;
	font-weight: bold;
	padding: 4px 0px;
	border-bottom: 1px solid #d0d0d0;
}

table.tbldata th.label {
	text-align: left;
}


table.tbldata td {
	border-top: 1px solid #e0e0e0;
	padding: 4px 0px 4px 10px;
	vertical-align: top;
	font-size: 1.1em;
	color: #555;
	text-align: right;
}

table.tbldata td.label {
	text-align: left;
	color: #333;
	font-weight: bold;
	padding: 4px 0px;
	white-space: nowrap;
	overflow: hidden;
}



table.tbldata th.peticiones {
	width: 100px;
}




#cuerpo table.entradas address {
	color: #999;
}

#cuerpo table.entradas input {
	margin: 0px 10px;
}

#cuerpo table.entradas address input {
	vertical-align: text-bottom;
}


#cuerpo table.entradas td.id {
	font-weight: bold;
}

#cuerpo table.entradas td.fecha {
	white-space: nowrap;
}

#cuerpo table.entradas td.telefono {
	color: #000;
	font-size: 1.2em;
	white-space: nowrap;
}

#cuerpo table.entradas td.puntuacion {
	color: #000;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

#cuerpo table.entradas td.regla {
	color: #000;
	font-family: "Courier New", Courier, monospace;
}

#cuerpo table.entradas td.comentarios {
	color: #888;
}

#cuerpo table.entradas td.atendido {
	white-space: nowrap;
}
