/* 
    Document   : test_css
    Created on : 17-ene-2010, 20:30:23
    Author     : eladioruiz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#header, #content_wrapper, #footer {
    margin:0 auto;
    width:1024px;
}

#wrapper {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    height: 100px;
    /*background:transparent url(../images/header2.gif) repeat-x scroll 0 100%;*/
    margin-bottom:50px;
    /*font-size:1.2em;*/
}

#wrapper img {
    border: 0px;
}

#header {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    /*background:transparent url(../images/header2.gif) repeat-x scroll 0 100%;*/
    height:80px;
    overflow:hidden;
}


body {
    padding: 0px;
    margin: 0px;
    background: #2e3436 url('../images/06022010_1024.jpg') no-repeat fixed center;
    font-size: 8pt;
    font-family: verdana, arial, helvetica, sans-serif;
    color: white;
}

#branding {
    margin-right: 10px;
    margin-left: 10px;
}

h1, h2, p {
    margin: 5px 0px;
    margin-right: 10;
}

h1, h2 {
    letter-spacing: -1px;
}

#header h1 {
    color:white;
    float:right;
    font-weight:bold;
    font-size: 3em;
    letter-spacing:-1px;
    margin-top: 0px;
    padding:10px 0;
    text-align:right;
}

#header h2 {
    font-style: normal;
    font-weight: bold;
    color: #666;
    font-size: 1.5em;
    float:right;
    text-align:left;
    margin-top: 35px;
}

#header a {
    text-decoration: none;
    color: white;
}

#header a:hover {
    text-decoration: none;
    color: white;
}

#cuerpo h1 {
    color: #444;
}

h1 strong {
    color: black;
}


/* --- Footer ---------------------------------------------------------- */

#footer {
    border: 1px solid #2e3436;
    clear:both;
    display:block;
    margin-bottom:10px;
    margin-top:10px;
    overflow:hidden;
    position:relative;
    background-color: #D0D0D0;
    height: 30px;
}

/* --- Navigation ---------------------------------------------------------- */

#navigation_main {
    border: 0px solid #FFF;
    height: 43px;
    width: 1002px;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 0px;
/*    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
*/
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}

/**
#navigation_main li {
    display:inline;
    margin: 25px;
    font-size: 14px;
}

#navigation_main li a {
    padding:0.2em 1em;
    background:#fc6;
    color:#000;
    text-decoration:none;
    float:left;
    border:1px solid #000;
}

#navigation_main li a:hover {
    background:#08c;
    color:#fff;
}
**/

.lavaLampWithImage a.inactive {
    color: grey;
    decoration: none;
}

/* --- User Info ----------------------------------------------------------- */
#user_info {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

#user {
    float: left;
}

#logout {
    margin-top: 2px;
    margin-left: 5px;
    float: left;
}

/* --- Navigation ---------------------------------------------------------- */

#navigation_main {
    border: 0px solid #FFF;
    height: 43px;
    width: 1002px;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 0px;
/*    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
*/
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}

/**
#navigation_main li {
    display:inline;
    margin: 25px;
    font-size: 14px;
}

#navigation_main li a {
    padding:0.2em 1em;
    background:#fc6;
    color:#000;
    text-decoration:none;
    float:left;
    border:1px solid #000;
}

#navigation_main li a:hover {
    background:#08c;
    color:#fff;
}
**/

.lavaLampWithImage a.inactive {
    color: grey;
    decoration: none;
}

/* --- User Info ----------------------------------------------------------- */
#user_info {
    margin-top: 115px;
    margin-left: 15px;
    float: left;
}

#user {
    float: left;
}

#logout {
    margin-top: 2px;
    margin-left: 5px;
    float: left;
}

/* --- Rounded boxes ------------------------------------------------------- */

/* Show only to IE PC \*/
* html .boxhead h2 {height: 1%;} /* For IE 5 PC */

.sidebox {
    margin: 0 auto; /* center for now */
    width: 1024px; /* ems so it will grow */
    background: url(../images/sbbody-r_g.gif) no-repeat bottom right;
    font-size: 100%;
}
.boxhead {
    background: url(../images/sbhead-r_g.gif) no-repeat top right;
    margin: 0;
    padding: 0;
    text-align: center;
}
.boxhead h2 {
	background: url(../images/sbhead-l_g.gif) no-repeat top left;
	margin: 0;
	padding: 22px 30px 5px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.boxbody {
	background: url(../images/sbbody-l_g.gif) no-repeat bottom left;
	margin: 0;
	padding: 5px 30px 31px;
}

#main_content {
   filter:alpha(opacity=80);
   -moz-opacity: 0.8;
   opacity: 0.8;

}

#login_box {
    position: absolute;
    top: 0px;
    left: 100px;
    margin-left: 0px;
    margin-top: 0px;
}


/* ---------------- TEXTBOX --------------------- */

.text_box {
    padding-left:20px;
    border: 10px solid #369d47;
    background-color: #1d5c2a;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin: 10px 10px 20px 10px;
    
}

.text_box h2 {
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
}

.text_box a:link {
    color: white;
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
}

.text_box h2 a
{
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

#internal_text {
    font-size: 18px;
}

#internal_text.presentation {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 20px;
    overflow: auto;
}

#internal_text.presentation ul {
    list-style-type: none;
    text-decoration: none;
    margin-left: 0px;
    font-size:   13px;
    line-height: 18px;
}

#internal_text.presentation ol {
    font-size:   13px;
    line-height: 18px;
}

#internal_text.presentation li {
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-left: 0px;
}

#textbox_2_2 {
    width: 450px;
    height: 180px;
    float: left;
}

#stats_resume {
    margin: 5px;
}

/* ------------------ FORMS ---------------- */

input, select, button {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

div.row {
    clear: both;
    padding-top: 5px;
    height: 0px;
}

div.row label.c_label {
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

div.row input, button {
    float: right;
    width: 100px;
    text-align: left;
    border: 1px solid ;
}

div.row .submit {
    width: 102px;
    text-align: center;
}

/*-- CARD STYLES -- */

#card {
    font-size: 14px;
    text-align: center;
    width: 900px;
}

.card_player_name {
    font-size: 14px;
    text-align: left;
}

.card_player_info {
    font-size: 14px;
    text-align: center;
}

.car_player {
    text-align: center;
    color:black;
}

.card_info {
    color: black;
}

.card_info_leyend {
    color: black;
    text-align: right;
}

.hole_blue {
    background-color: #0000FF;
    text-align: center;
    color: black;
}

.hole_red {
    background-color: #FF0000;
    text-align: center;
    color: black;
}

.hole_yellow {
    background-color: #FFFF00;
    text-align: center;
    color: black;
}

.hole_white {
    background-color: #FFFFFF;
    text-align: center;
    color: black;
}

table td {
    text-align: center;
    font-size: 14px;
    color:black;
}

table th {
    text-align: center;
    font-size: 15px;
    color: black;
}

td.totals {
    font-weight: bold;
}

#toolbar {
    padding: 10px 4px;
}

/* COURSES */

.webbies {
    overflow: hidden;
}

.webbies li {
    display: block;
    float: left;
}

.gallery .hidden {
    display: none;
}

