/* 
    Document   : test_css
    Created on : 17-ene-2010, 20:30:23
    Author     : eladioruiz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

* {
    margin:0;
    padding:0;
}

#header, #navigation_main, #content_wrapper, #footer {
    margin:0 auto;
    width:1024px;
}

#wrapper {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    height: 100px;
    background:transparent url(../images/header2.gif) repeat-x scroll 0 100%;
    margin-bottom:50px;
    font-size:1.2em;
}

#wrapper img {
    border: 0px;
}

#wrapper a, #wrapper a:hover {
    border: none;
    background: none;
}

#header {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/header2.gif) repeat-x scroll 0 100%;
    height:100px;
    overflow:hidden;
}

body {
    padding: 0px;
    margin: 0px;
    background: #2e3436;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1, h2, p {
    margin: 5px 0px;
}

h1, h2 {
    letter-spacing: -1px;
}

#header h1 {
    color:white;
    float:right;
    font-weight:bold;
    font-size: 3em;
    letter-spacing:-1px;
    margin-top: 30px;
    padding:10px 0;
    text-align:right;
}

#header em {
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
}

h2 {
	color: #666;
	font-size: 1.5em;
	font-weight: normal;
}

h2.ok {
	background: #D8EEC4;
	color: #377722;
	font-size: 1.6em;
	font-weight: normal;
	padding: 5px;
	text-align: center;
}

h2.error {
	background: #EFC2C2;
	color: #792C20;
	font-size: 1.6em;
	font-weight: normal;
	padding: 5px;
	text-align: center;
}


#cuerpo h1 {
	color: #444;
}


a {
	color: #444;
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:hover {
	background: #444;
	color: white;
	text-decoration: none;
	border-bottom: 1px solid #444;
}


h1 strong {
	color: black;
}

/* --- Footer ---------------------------------------------------------- */

#footer {
    border: 1px solid #FFF;
    clear:both;
    display:block;
    margin-bottom:10px;
    margin-top:10px;
    overflow:hidden;
    position:relative;
    background-color: #D0D0D0;
    height: 30px;
}

/* --- Navigation ---------------------------------------------------------- */

#navigation_main {
    border: 1px solid #FFF;
    height:30px;
/*    overflow:hidden; */
    background-color: #D0D0D0;
    color: white;
    text-align: center;
}

/* --- Rounded boxes ------------------------------------------------------- */

/* Show only to IE PC \*/
* html .boxhead h2 {height: 1%;} /* For IE 5 PC */

.sidebox {
    margin: 0 auto; /* center for now */
    width: 1024px; /* ems so it will grow */
    background: url(../images/sbbody-r_g.gif) no-repeat bottom right;
    font-size: 100%;
}
.boxhead {
	background: url(../images/sbhead-r_g.gif) no-repeat top right;
	margin: 0;
	padding: 0;
	text-align: center;
}
.boxhead h2 {
	background: url(../images/sbhead-l_g.gif) no-repeat top left;
	margin: 0;
	padding: 22px 30px 5px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.boxbody {
	background: url(../images/sbbody-l_g.gif) no-repeat bottom left;
	margin: 0;
	padding: 5px 30px 31px;
}
