/* 
    Document   : test_css
    Created on : 17-ene-2010, 20:30:23
    Author     : eladioruiz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#header, #navigation_main, #content_wrapper, #footer {
    margin:0 auto;
    width:1024px;
}

#wrapper {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    height: 100px;
    /*background:transparent url(../images/header2.gif) repeat-x scroll 0 100%;*/
    margin-bottom:50px;
    font-size:1.2em;

}

#wrapper img {
    border: 0px;
}

#header {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    /*background:transparent url(../images/header2.gif) repeat-x scroll 0 100%;*/
    height:100px;
    overflow:hidden;
}

body {
    padding: 0px;
    margin: 0px;
    /*background: #2e3436;*/
    background: #2e3436 url('../images/06022010_1024.jpg') no-repeat fixed center;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


#branding {
    margin-right:10 px;
}

h1, h2, p {
    margin: 5px 0px;
    margin-right: 10px;
}

h1, h2 {
    letter-spacing: -1px;
}

h2 {
	color: #666;
	font-size: 1.5em;
	font-weight: normal;
}

#header h1 {
    color:white;
    float:right;
    font-weight:bold;
    font-size: 3em;
    letter-spacing:-1px;
    margin-top: 30px;
    padding:10px 0;
    text-align:right;
}

#header em {
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
}


#cuerpo h1 {
	color: #444;
}

h1 strong {
	color: black;
}

/* --- Footer ---------------------------------------------------------- */

#footer {
    border: 1px solid #FFF;
    clear:both;
    display:block;
    margin-bottom:10px;
    margin-top:10px;
    overflow:hidden;
    position:relative;
    background-color: #D0D0D0;
    height: 30px;
}

/* --- Navigation ---------------------------------------------------------- */

#navigation_main {
    border: 0px solid #FFF;
    height:30px;
/*    overflow:hidden; 
    background-color: #D0D0D0; */
    color: black;
    text-align: center;

   filter:alpha(opacity=90);
   -moz-opacity: 0.9;
   opacity: 0.9;

}

/* --- Rounded boxes ------------------------------------------------------- */


#main_content {
   filter:alpha(opacity=60);
   -moz-opacity: 0.6;
   opacity: 0.6;

}

#text-box {
    padding-left:20px;
    border: 10px solid #369d47;
    background-color: #1d5c2a;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;"
}

#text-box h2 {

}