<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
    <title>My Golf Card</title>
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/scaffold.css">
    </link>
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/test_css.css">
    </link>
    <script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js">
    </script>
    <script type="text/javascript" src="/javascripts/match_helpers.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header" class="contenedor_sup">
            <div id="branding">
                <h1>Prueba Eladio</h1>
            </div> <!-- end: branding -->
        </div> <!-- end: header -->

        <div id="navigation_main" class="contenedor_sup">

            <div id="nav">
                <p style="color: green"><%= flash[:notice] %></p>

                <div id="buscador">
                </div>  <!-- end: buscador -->
            </div>  <!-- end: nav -->

        </div>  <!-- end: navigation -->

        <div id="content_wrapper" class="home" >
            <div id="main_content" class="home">
                <%= yield %>
            </div>  <!-- end: main_content -->
        </div>  <!-- end: content_wrapper -->

        <div id="footer">
          <p>&copy 2009 Eladio Ruiz</p>
        </div>  <!-- end: pie -->

    </div> <!-- end: wrapper -->
</body>
</html>
