                <div class="text_box" id="textbox_2_2">
                    <h2><a href="matches">PARTIDOS</a></h2>
                    <div id="internal_text">
                    </div> <!-- end: internal_text -->
                </div> <!-- end: text-box -->
                <div class="text_box" id="textbox_2_2">
                    <h2>RESUMEN</h2>
                    <div id="internal_text">
                    </div> <!-- end: internal_text -->
                </div> <!-- end: text-box -->
                <div class="text_box" id="textbox_2_2">
                    <h2>ESTADÍSTICAS</h2>
                    <div id="internal_text">
                    </div> <!-- end: internal_text -->
                </div> <!-- end: text-box -->
                <div class="text_box" id="textbox_2_2">
                    <h2><a href="courses">CAMPOS</a></h2>
                    <div id="internal_text">
                    </div> <!-- end: internal_text -->
                </div> <!-- end: text-box -->
