<style type='text/css'>
    .content_tb_header1_wrapper {
       position: relative;
       float: left;
       left: 0px;
       width: 100%;
       margin-bottom: 5px;
       /*background-color: #cccccc;*/
    }
    .content_tb_header1_content{
       position: relative;
       float: right;
       right: 5px;
       width: 100%;
       height: 50px;
       /*background-color: #828282;*/
    }
    .content_tb_header2_wrapper {
       position: relative;
       float: left;
       left: 0px;
       width: 100%;
       margin-bottom: 5px;
       /*background-color: #cccccc;*/
    }
    .content_tb_header2_content {
       position: relative;
       float: left;
       right: 5px;
       width: 100%;
       height: 0px;
       padding-left: 30px;
       /*background-color: #828282;*/
    }
    .content_tb_content_wrapper {
       position: relative;
       float: left;
       left: 0px;
       width: 100%;
       margin-bottom: 5px;
       /*background-color: #cccccc*/
    }
    .content_tb_content_content {
       position: relative;
       float: left;
       right: 5px;
       width: 100%;
       height: 150px;
       /*background-color: #828282*/
    }

    .content_tb_header1_left1 {
       position: relative;
       float: left;
       left: 5px;
       width: 50%;
       /*background-color: #128281;*/
    }
    .content_tb_header1_right {
       position: relative;
       float: right;
       right: 5px;
       width: 50%;
       /*background-color: #128281;*/
       height: 30px;
       padding-top: 15px;
       text-align: right;
    }

    .text_box {
      height: 500px;
    }


    #CoursesPlayedSumDiv {
      text-align: left;
      margin-left: 5px;
      width: 650px;
      border: 3px outset gray;
    }

</style>

              <% form_tag('/charts/pie_courses', :id => 'form_main') do %>
                <label>Fecha Inicio:</label>&nbsp;<%= select_date @startDate, :order => [:day, :month, :year], :use_month_numbers => true, :start_year => 2005, :end_year => 1.years.from_now.year(), :prefix => 'startDate' %>&nbsp;
                <label>Fecha Hasta:</label>&nbsp;<%= select_date @endDate, :order => [:day, :month, :year], :use_month_numbers => true, :start_year => 2005, :prefix => 'endDate' %>&nbsp;
                <button id="button_filter">Filtrar</button>
              <% end %>

              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <%
              # The xml is obtained as a string from builder template.
              str_xml = render "calculate_pie_courses.builder",{:matches_data => @matches_data}

              #Create the chart - Pie 3D Chart with data from strXML
              render_chart '/chart/FCF_Pie3D.swf', '', str_xml, 'CoursesPlayedSum', 650, 300, false, false do-%>
              <% end-%>
 