<div class="playermatch">
  <p>
      <%= player_form.label :user %>:&nbsp;<%= player_form.select(:user_id, @users) %>&nbsp;&nbsp;&nbsp;<%= player_form.label :tee %>:&nbsp;<%= player_form.select(:tee_id, @tees) %>&nbsp;&nbsp;&nbsp;
  </p>
</div>