<style type='text/css'>
  .thumb_view_nav {
    display: none;
    width:100%;
    height:0px;
    margin:0px;
    padding:0px;
  }

  .content_tb_header1_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc;*/
  }
  .content_tb_header1_content{
     position: relative;
     float: right;
     right: 5px;
     width: 100%;
     height: 50px;
     /*background-color: #828282;*/
  }
  .content_tb_header2_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc;*/
  }
  .content_tb_header2_content {
     position: relative;
     float: right;
     right: 5px;
     width: 100%;
     height: 30px;
     padding-left: 30px;
     /*background-color: #828282;*/
  }
  .content_tb_content_wrapper {
     position: relative;
     float: left;
     left: 0px;
     width: 100%;
     margin-bottom: 5px;
     /*background-color: #cccccc*/
  }
  .content_tb_content_content {
     position: relative;
     float: left;
     right: 5px;
     width: 100%;
     height: 150px;
     /*background-color: #828282*/
  }

  .content_tb_header1_left1 {
     position: relative;
     float: left;
     left: 5px;
     width: 50%;
     /*background-color: #128281;*/
  }

  .content_tb_header1_right {
     position: relative;
     float: right;
     right: 5px;
     width: 50%;
     /*background-color: #128281;*/
     height: 30px;
     padding-top: 15px;
     text-align: right;
  }

  .content_tb_header2_left1 {
     position: relative;
     float: left;
     left: 5px;
     width: 50%;
     /*background-color: #128281;*/
  }

  .content_tb_header2_right {
     position: relative;
     float: right;
     right: 5px;
     width: 50%;
     /*background-color: #128281;*/
     height: 30px;
     padding-top: 15px;

  }

  .content_tb_header2_right a {
    margin-top: -40px;
    margin-left: 150px;
  }

  .text_box {
    height: 600px;
  }

  .oper.demo {
    text-align: center;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    height: 0px;
  }

  #gview_list_matches {
    font-size: 13px;
  }

  #list_matches {
    font-size: 13px;
    padding-left: 3px;
  }

  thead th {
    background-color:#524123;
    border-bottom:2px solid #3D3019;
    border-top:3px solid #6E572E;
    color:#FFFFFF;
    font-size:14px;
    padding:0;
  }

  input {
    font-size: 10px;
    background-image: url(../images/sbbody-r_g.gif) no-repeat bottom right;
  }
</style>

<script>
  $(document).ready(function(){

    var $filterCity = $('#filter input[name="city"]');
    var $filterCourse = $('#filter input[name="course"]');

    $filterCity.keyup(function(){
      var filter = $filterCity.val();
      $('#filter input[name="course"]').val("");
      $(".gallery:first li").each(function () {
        var attrib = $(this).attr("city-id");
        var pos = attrib.search(new RegExp(filter,"i"));
        if (pos<0) {
          $(this).addClass("hidden");
        }
        else {
          $(this).removeClass("hidden");
        }
      });
    });

    $filterCourse.keyup(function(){
        var filter = $filterCourse.val();
        $('#filter input[name="city"]').val("");
        $(".gallery:first li").each(function () {
          var attrib = $(this).attr("course-id");
          var pos = attrib.search(new RegExp(filter,"i"));
          if (pos<0) {
            $(this).addClass("hidden");
          }
          else {
            $(this).removeClass("hidden");
          }
        });
      }
    );

    $('#load-webbies a.button').click(function(e) {
      $.get( $(this).attr('href'), function(data) {
        $('.webbies').quicksand( $(data).find('li'), {adjustHeight: 'dynamic'} );
      });
      e.preventDefault();
    });

    $(".content_tb_header1_right.demo button:first").button({
      icons: {
          primary: 'ui-icon-document'
      },
      text: true
    });

    jQuery("#list_matches").jqGrid({
      url:'matches.xml?q=1',
      datatype: "xml",
      height: 400,
      width: 920,
      colNames:['Id','Campo','Fecha/Hora', 'Hoyos', 'Jugadores', 'Action'],
      colModel:[  
                  {name:'match_id',index:'match_id', width:20, hidden:true},
                  {name:'course',index:'course', width:370},
                  {name:'date_hour_match',index:'date_hour_match', align:"center", width:200},
                  {name:'holes',index:'holes', align:"center", width:90},
                  {name:'players',index:'players', align:"center", width:140},
                  {name:'act',index:'act', width:100,sortable:false} ],
      rowNum:10,
      rowList:[10,20,30,50],
      pager: '#pager_matches',
      sortname: 'date_hour_match',
      viewrecords: true,
      sortorder: "desc",
      multiselect: false,
      subGrid : true,
      subGridUrl: 'players.xml?q=2',
      subGridModel: [{  name : ['Jugador','Handicap','Tee','Golpes 1º','Golpes 2º','Golpes Totales'],
                        width : [300,80,80,80,80,80],
                      }],
      gridComplete: function() {
                      var ids = jQuery("#list_matches").jqGrid('getDataIDs');
                      for(var i=0;i < ids.length;i++) {
                        var cl = ids[i];
                        ed = "<a href='#' onclick=\"document.location.href='/matches/" + cl + "/edit'\"><img src='../images/icon-edit.png' border='0'></a>";
                        dl = "<a href='#' onclick=\"\"><img src='../images/icon-delete.png' border='0'></a>";
                        se = "<a href='#' onclick=\"document.location.href='/matches/" + cl + "'\"><img src='../images/icon-search.png' border='0'></a>";
                        ca = "<a href='#' onclick=\"document.location.href='/matches/" + cl + "/print'\"><img src='../images/icon-card.png' border='0'></a>";
                        jQuery("#list_matches").jqGrid('setRowData',ids[i],{act:se+ed+dl+ca});
                      }
                    },
      caption: ''
    });
    jQuery("#list_matches").jqGrid('navGrid',"#pages_matches",{edit:false,add:false,del:false});

    $("#radio").buttonset();
    
});
</script>

<style>
  #div_demo button {
    background-color:#369D47;
    border:1px solid #1D5C2A;
    color:#FFFFFF;
    font-weight:bold;
    -moz-border-radius:6px 6px 6px 6px;
    font-size: 10px;
    cursor: pointer;
  }
</style>
          <div class="content_tb_header1_wrapper">
             <div class="content_tb_header1_content">
                <div class="content_tb_header1_left1">
                  <h1>Partidos Jugados</h1>
                </div> <!-- content_tb_header1_left1 -->
                <div class="content_tb_header1_right demo">
                  <button onclick="document.location.href='<%= new_match_path %>'">Nuevo</button>
                </div> <!-- content_tb_header1_right demo -->
             </div> <!-- content_tb_header1_content -->
          </div> <!-- content_tb_header1_wrapper -->

          <div class="content_tb_header2_wrapper">
            <div class="content_tb_header2_content">
              <div id="course_select content_tb_header2_left1">
                  <div class="ui-widget" id="load-webbies">
                    <form id="filter">
                      <label class="li-label-column">Localidad:&nbsp;</label>
                      <input id="city" name="city" type="text" value="">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label class="li-label-column">Campo:&nbsp;</label>
                      <input id="course" name="course" type="text" value="">
                      &nbsp;&nbsp;&nbsp;
                    </form>
                  </div>
              </div> <!-- course_select content_tb_header2_left1 -->
              <div class="content_tb_header2_right">
                &nbsp;
              </div> <!-- content_tb_header2_right -->
            </div> <!-- content_tb_header2_content -->
          </div> <!-- content_tb_header2_wrapper -->

          <div class="content_tb_content_wrapper">
            <div class="content_tb_content_content">

              <div class="ui-form demo">
<!--
                <button onclick="document.location.href='matches'">Todos</button>
                <button onclick="document.location.href='matches/lastmatches'">10 &Uacute;ltimos</button>
                <button onclick="document.location.href='matches/bestmatches'">10 Mejores</button>
                <button onclick="document.location.href='matches/lastmonth'">&Uacute;ltimo mes</button>
                <button onclick="alert('Esta opción todavía no está operativa')">10 &Uacute;ltimos</button>
-->
                <div id="radio">
                  <input type="radio" id="radio1" name="radio" onclick="document.location.href='matches';"><label for="radio1">Todos</label>
                  <input type="radio" id="radio2" name="radio" onclick="document.location.href='matches/lastmatches';"><label for="radio2">10 &Uacute;ltimos</label>
                  <input type="radio" id="radio3" name="radio" onclick="document.location.href='matches/bestmatches';"><label for="radio3">10 Mejores</label>
                  <input type="radio" id="radio4" name="radio" onclick="document.location.href='matches/lastmonth';"><label for="radio4">&Uacute;ltimo mes</label>
                  <input type="radio" id="radio5" name="radio" onclick="alert('Esta opción no está operativa en estos momentos. Disculpe las molestias.')"><label for="radio5">Personalizado</label>
                </div>

                <a href="matches">Todos</a>
                <a href="matches/lastmatches">10 Últimos</a>
                <a href="matches/bestmatches">10 Mejores</a>
                <a href="matches/lastmonth">Último Mes</a>
                <a href="#">Personalizado</a>

              </div> <!-- end: ui-form -->
              <p></p>
              <div> <!-- jqgrid -->
                <table id="list_matches"></table>
                <div id="pager_matches"></div>
              </div> <!-- jqgrid -->

           </div> <!-- content_tb_content_content -->
          </div> <!-- content_tb_content_wrapper -->


