<h1>New card</h1>

<% form_for(@card) do |f| %>
  <%= f.error_messages %>

  <%
  	@holes_count.times do |i]
		f.text_field :value => @holes[i]
	end
  %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cards_path %>