<script>
  $(function() {
    $(".demo button:first").button({
        icons: {
            primary: 'ui-icon-mail-closed'
        },
        text: true
    });

  })
</script>

<%= error_messages_for :contact %>
<% form_for @contact, :html => { :id => 'form_main', :class => "cmxform demo"}, :url => contacts_path do |f| -%>

<p><label for="name">Nombre</label><br/>
<%= f.text_field :name, :size => 30, :maxlength => 255 %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email, :size => 30, :maxlength => 255  %></p>

<p><label for="password">Consulta/Sugerencia</label><br/>
<%= f.text_area :query, :cols => 28, :rows => 5 %></p>

<button class="demo" id="button_save" onclick="">Enviar</button>
<% end -%>

