<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="menu_header">
  <ul>
    <li><a href="<%= matches_path %>">Matches</a>
    <li><a href="<%= courses_path %>">Courses</a>
  </ul>
</div>
<p></p>