<table border="0" width="100%">
  <tr>
    <td class="card_player_info" width="100%"><div id="strk" class="medal_play"><%= format_nil(card_stroke.strokes,'-')  -%></div><div id="points" class="stableford"><%= format_nil(card_stroke.points_stableford,'-')  -%></div></td>
  </tr>
</table>
