
        <div id="navigation_main">

          <ul class="kwicks" id="menu">
            <li id="kwick1" class="<%=  @current_menu['init']    %>"><a href="/">Inicio</a></li>
            <li id="kwick2" class="<%=  @current_menu['matches'] %>"><a href="/matches">Partidos</a></li>
            <li id="kwick3" class="<%=  @current_menu['courses'] %>"><a href="/courses">Campos</a></li>
            <li id="kwick4" class="<%=  @current_menu['charts']  %>"><a href="/charts/pie_courses">Estad&iacute;sticas</a></li>
            <li id="kwick5" class="inactive"><a href="#">Resumen</a></li>
            <li id="kwick6" class="inactive"><a href="#">Configuraci&oacute;n</a></li>
          </ul>

        </div>  <!-- end: navigation -->