        <div id="navigation_main">

          <ul class="lavaLampWithImage" id="menu">
            <li><a title="Inicio" href="/">Inicio</a></li>
            <li class="<%=  @current_menu['matches'] %>"><a href="/matches">Partidos</a></li>
            <li><a href="#" class="inactive">Resumen</a></li>
            <li><a href="#" class="inactive">Datos Personales</a></li>
            <li class="<%=  @current_menu['courses'] %>"><a href="/courses">Campos</a></li>
            <li class="<%=  @current_menu['charts'] %>"><a href="/charts/pie_courses">Estad&iacute;sticas</a></li>
          </ul>

        </div>  <!-- end: navigation -->