<%= render :partial => 'layouts/header' %>

        <div class="content_wrapper">

            <%= render :partial => 'layouts/navigationbar' %>
          
            <div class="main_content">
                <div id="text_box_1_1" class="text_box">
                    <%= yield %>
                </div> <!-- end: text-box -->
            </div>  <!-- end: main_content -->
            
        </div>  <!-- end: content_wrapper -->

<%= render :partial => 'layouts/footer' %>
