<%= render :partial => 'layouts/header' %>

        <div id="navigation_main">

          <ul class="lavaLampWithImage" id="menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/matches" class="current">Partidos</a></li>
            <li><a href="" class="inactive">Resumen</a></li>
            <li><a href="" class="inactive">Datos Personales</a></li>
            <li><a href="/courses">Campos</a></li>
          </ul>

        </div>  <!-- end: navigation -->

        <div id="content_wrapper">
            <div id="main_content">
                <div id="text_box_1_1" class="text_box">
                    <h2>My Golf Card</h2>
                    <div id="internal_text">
                        <%= yield %>
                    </div> <!-- end: interna_text -->
                </div> <!-- end: text-box -->
            </div>  <!-- end: main_content -->
        </div>  <!-- end: content_wrapper -->

        <div id="footer">
          <p>&copy 2010 Eladio Ruiz</p>
        </div>  <!-- end: pie -->

    </div> <!-- end: wrapper -->

<%= render :partial => 'layouts/footer' %>
