<%= render :partial => 'layouts/header' %>

        <div id="navigation_main">
<!--
          <p><%= flash[:notice] %></p>
-->
        </div>  <!-- end: navigation -->

        <div id="content_wrapper">
            <div id="main_content">
              <%= yield %>
            </div>  <!-- end: main_content -->
        </div>  <!-- end: content_wrapper -->

        <div id="footer">
          <p>&copy 2010 Eladio Ruiz</p>
        </div>  <!-- end: pie -->

    </div> <!-- end: wrapper -->

<%= render :partial => 'layouts/footer' %>
