<%= render :partial => 'layouts/header' %>

        <div class="content_wrapper">
            <div class="main_content">
              <%= yield %>
            </div>  <!-- end: main_content -->
        </div>  <!-- end: content_wrapper -->

    

<%= render :partial => 'layouts/footer' %>
