<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
    <title>My Golf Card</title>
    <%= stylesheet_link_tag 'golf_main' %>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
</head>
<body id="page_home">
    <div id="wrapper">
        <div id="header">
            <div id="branding">
                <h1>My Golf Card</h1>
                <h2>Tarjetas y Puntuaciones</h2>
            </div> <!-- end: branding -->
        </div> <!-- end: header -->

        <div id="navigation_main">
                <p><%= flash[:notice] %></p>
                <div id="buscador">
                </div>  <!-- end: buscador -->
        </div>  <!-- end: navigation -->

        <div id="content_wrapper">
            <div id="main_content">
                <div class="text_box">
                    <h2>My Golf Card</h2>
                    <div id="internal_text">
                      <ul>
                        <li>¿ Conoce ya My Golf Card ? ¿No le han hablado sus compañeros de esta nueva web de golf?</li>
                        <li>No se preocupe, en cuatro preguntas va a entender la nueva forma de continuar disfrutando del golf cuando esté de vuelta en casa conectándose a My Golf Card:</li>
                        <li>
                          <ol>
                            <li>¿Es un aficionado al golf y no sabe dónde guardar las tarjetas de cada partido?</li>
                            <li>¿Le gustan las redes sociales y compartir sus experiencias?</li>
                            <li>¿Quiére compartir con sus compañeros de partido los resultados?</li>
                            <li>¿Es un apasionado de las estadísticas y quiere saber cómo evoluciona su juego?</li>
                          </ol>
                        </li>
                        <li>En My Golf Card se unen todos estos ingredientes para permitirle conjugar su pasión por el golf y sus ganas de compartir en la red sus ”mejores golpes”.</li>
                        <li>Darse da alta en My Golf Card es totalmente gratuito. Pruébelo desde ahora mismo haciendo clic en este enlace.</li>
                      </ul>
                    </div> <!-- end: internal_text -->
                </div> <!-- end: text-box -->
                <%= yield %>
            </div>  <!-- end: main_content -->
        </div>  <!-- end: content_wrapper -->

        <div id="footer">
          <p>&copy 2010 Eladio Ruiz</p>
        </div>  <!-- end: pie -->

    </div> <!-- end: wrapper -->

<! -- GOOGLE ANALYTICS -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-13252939-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>
</html>
